.title-jumbo {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.img-jumbo {
  aspect-ratio: 1;
}

.first-content {
  background-color: #8ac4d0 !important;
}

.second-content {
  background-color: #28527a !important;
}

.third-content {
  background-color: #4a3933 !important;
}

.img-container {
  display: flex;
  justify-content: center;
}

.btn-jumbo {
  background-color: #fff !important;
  color: #8ac4d0 !important;
}

.btn-jumbo-near  {
  background-color: #fff !important;
  color: gray !important;
}