.grid-container {
  display: flex;
  grid-template-columns: auto auto;
}

.content-steps {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .grid-container {
    display: grid !important;
  }
}

@media only screen and (min-width: 1024px) {
  .card-img-overlay {
    padding: 5% 20% !important;
  }

  .form-search {
    padding: 50px;
  }
}
